<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
      <div>
      	<%= link_to "Post an event", microposts_path, class: "btn btn-large btn-primary other_button"%>
  	  </div>
    </section>
  </aside>
  <div class="span8">
    <% if @user.microposts.any? %>
      <h3>My Posts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>