<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :"date of event"%>
    <%= f.text_field :date, class: "datepicker"%>

    <%= f.label :"Event category"%>
    <%= f.select :event, [['Hot','hot'],['Medium','medium'],['Cold','cold']] %>

    <%= f.label :"event"%>
    <%= f.text_area :content, placeholder: "Event listing..." %>

  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>