<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.label :"event"%>
    <%= f.text_field :content, placeholder: "Event listing..."%>

    <%= f.label :"event category"%>
    <%= f.select :event, [['General','general'],['Lecture','lecture'],['Sports','sports']]%>

    <%= f.label :"location"%>
    <%= f.text_field :location, placeholder: "Where is this event?"%>

    <%= f.label :"date of event"%>
    <%= f.text_field :date, class: 'datepicker', placeholder: "Enter date..."%>

    <%= f.label :"start time"%>
    <%= f.text_field :start_time, class: 'timepicker'%>

    <%= f.label :"end time"%>
    <%= f.text_field :end_time, class: 'timepicker'%>

    <%= f.label :"event description"%>
    <%= f.text_area :description, placeholder: "Enter description (optional)..."%>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>