<% if true or (micropost.start_time-Time.now.utc.getlocal).abs <= 3600 %>
  <tr data-toggle="collapse" data-target="#check">
    <td>
    	<span class="event">
        <%= micropost.content%>
      <span>
    </td>
    <td>
    	<span class="timestamp">
    	  <%= micropost.date.strftime("%A, %b %-d")%>
    	</span>
    </td>
    <td>
    	<span class="timestamp">
    	  <%= micropost.start_time.strftime("%-I:%M %p")%>
      </span>
    </td>
    <td>
      <span class="timestamp">
    	  <%= micropost.end_time.strftime("%-I:%M %p") %>
      </span>
    </td>
    <td><%= micropost.location%></td>
  </tr>
  <tr>
    <div id="check" class="collapse">
        <p>Oh my gosh it works.Oh my gosh it works.Oh my gosh it works.Oh my gosh it works.Oh my gosh it works.</p>
      </div>
  </tr>  
<% end %>