<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= link_to "harvardpulse", root_path, class: "brand", id: "logo" %>
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse">
        <ul class="nav pull-right">
          <li><%= ilink_to "home", "Home", root_path %></li>
          <% if signed_in? %>
            <li><%= ilink_to "calendar", "Events", microposts_path %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-folder-open"></i>
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= ilink_to "user", "Profile", current_user %></li>
                <li><%= ilink_to "cog", "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li><%= ilink_to "pencil", "Sign out", signout_path, method: :delete %></li>
              </ul>
            </li>
          <% else %>
            <li><a href=<%= signin_path %>><i class="icon-pencil"></i>&nbsp;Sign in</a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</header>