<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <script src="http://twitter.github.com/bootstrap/1.4.0/bootstrap-tabs.js"></script>
    <script>$('btn').popover(placement:'right');</script>
    <style type="text/css">

        @media all {
            .panel {
                overflow                    : hidden;
                position                    : absolute;
                display                     : block;
                width                       : 100%;
                padding-top                 : 60px;
                padding-bottom              : 60px;
                top                         : 0;
                /*height: 100%; */ /* uncomment if desktop */
            }

            .scrollable {
                overflow                    : scroll;
                -webkit-overflow-scrolling  : touch;
            }

            .insideScrollablePanel {
                margin-left                 : 5%;
                margin-right                : 5%;
                width                       : 90%;
            }

        } /* end of medial all */

        /*--- ipad ---*/
        /*--- full screen mode ---*/
        @media (device-width: 768px) and (orientation: portrait) {
            .panel {
                height                       : 934px; /*1004-80*/
            }
        }
        /*--- browser mode ---*/
        @media (device-width: 768px) and (orientation: landscape) {
            .panel {
                height                       : 668px; /*748-80*/
            }
        }

        /*--- iphone ---*/
        /*--- full screen mode ---*/
        @media (max-width: 480px) and (orientation: portrait) {
            .panel {
                height                       : 380px; /*460-80*/
            }
        }
        /*--- browser mode ---*/
        @media (max-width: 480px) and (orientation: landscape) {
            .panel {
                height                       : 220px; /*300-80*/
            }
        }
    </style>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>    
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <!--<%= debug(params) if Rails.env.development? %>-->
    </div>
  </body>
</html>